@import url('./container.css');

@import url('@fontsource/inter-tight/500.css');
@import url('@fontsource/inter-tight/600.css');

:root {
     --white-text-color: #fafafa;
     --green-color: #17be73;
     --light-green-color: #3bffa7;
     --dark-green-color: #127046;
     --font-color: #1c1d20;
     --cards-background-color: #242527;
     --color-secondary: #69292d;
     --button-border-color: #fafafa33;
     --grey-title-color: #fafafa66;
     --grey-text-color: #fafafa99;
     --text-shadow: #fafafa40;
     --icon-accent: #450306;
     --modal-border-color: #fafafa1a;
     --succes-message-color: #3cbc81;
     --not-succes-message-color: #e74a3b;
   }

   body {
     font-family: 'Inter Tight', sans-serif;
     background-color: var(--font-color);
   } 

   p {
     color: var(--white-text-color);
     font-size: 24px;
   }

