.mainTextHome {
  color: var(--light-green-color);
  font-weight: 700;
  font-size: 42px;
  text-shadow: 0px 0px 14px rgba(1, 12, 1, 0.149);
  letter-spacing: 0.3ch;
}

.btnGetStarted {
  background-color: var(--green-color);
  font-size: 18px;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  color: var(--white-text-color);
  transition: background-color 0.3s; /* Перехід для зміни кольору та анімації */
  animation: dance 1s infinite; /* Додано анімацію */
}

.btnGetStarted:hover {
  background-color: var(--dark-green-color);
  color: var(--light-green-color);
  animation: none; /* Зупиняємо анімацію при наведенні */
}

@keyframes dance {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
