.mainTextHeader {
  color: var(--white-text-color);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.containerHeader {
  display: flex;
  background-color: var(--green-color);
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.navHeader {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.navBtn {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 18px;
}

.navBtn:hover {
  color: var(--dark-green-color);
}

.btnLogout {
  background-color: var(--white-text-color);
  padding: 4px 24px;
  color: var(--dark-green-color);
  border-radius: 20px;
  font-size: 18px;
}

.btnLogout:hover {
  background-color: var(--dark-green-color);
  color: var(--light-green-color);
}
