.textLogin {
  font-size: 18px;
  animation: slideIn 1s ease-in-out; /* Додано анімацію slideIn */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainTextLogin {
  color: var(--light-green-color);
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0px 0px 14px rgba(1, 12, 1, 0.149);
  letter-spacing: 0.3ch;
}

@keyframes dance {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.btnLogin {
  background-color: var(--green-color);
  border-radius: 20px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  color: var(--white-text-color);
  transition: background-color 0.3s; /* Перехід для зміни кольору та анімації */
  animation: dance 1s infinite; /* Додано анімацію */
}

.btnLogin:hover {
  background-color: var(--dark-green-color);
  color: var(--white-text-color);
  animation: none; /* Зупиняємо анімацію при наведенні */
}
